<%= render 'comments/form', { article: @article, comment: @comment } %>
<%= render 'comments/comments', { comments: @comments } %>
<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<li><%= link_to "編集", edit_article_path(@article) %></li>
<li><%= link_to "削除", article_path(@article),
   method: :delete, data: {confirm: "削除してよろしいでしょうか？"} %></li>
<%= link_to t('articles.index.title'), articles_path %>