<ul class="navbar-nav">
  <% if Current.user %>
    <li class="nav-item dropdown">
       <%= link_to Current.user.user_name, password_path, class: "nav-link dropdown-toggle", id: "navbarScrollingDropdown", role: "button", data: { bs_toggle: "dropdown" }, aria: { expanded: "false" } %>
       <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
          <li class="nav-item">
            <%= link_to "パスワード変更", password_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", logout_path, method: :delete, class: 'nav-link' %>
          </li>
    <% else %>
  <div>コメントが投稿できるメモアプリです</div>
  <div class="text-danger">ログインをしないと編集削除はできません！</div>
          <li class="nav-item">
            <%= link_to "ログイン", login_path, class: 'nav-link text-info' %></li>
          <li class="nav-item">
            <%= link_to "新規登録", signup_path, class: 'nav-link text-info' %></li>
          </ul>
    <% end %>
    </li>
</ul>